extends ./base.pug

block title
    title Site administration | Change password
    link(rel="stylesheet", href="/admin/css/user.create.css")


block content
    section.col-sm-10
        form(action="", method="post")

            table.table.table-borderless
                thead
                    tr
                        th(scope='col')
                            h2 Change password
                tbody
                    if errs
                        each err in errs
                            small.text-danger=err
                            br
                    tr
                        th(scope='row') 
                            label(for="oldpassword") Old password:
                        td
                            input#oldpassword.w-75(type="password", name="oldpassword", value = values ? values.username : "")
                            //- small.text-muted Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                    tr
                        th(scope='row') 
                            label(for="newpassword") New password:
                        td 
                            input#newpassword.w-75(type="password", name="newpassword")
                            br
                            small.text-muted Your password can’t be too similar to your other personal information.
                            br
                            small.text-muted Your password must contain at least 8 characters.
                            br
                            small.text-muted Your password can’t be a commonly used password.
                            br
                            small.text-muted Your password can’t be entirely numeric.
                    tr
                        th(scope='row') 
                            label(for="confirmnewpassword") Confirm new password:
                        td
                            input#confirmnewpassword.w-75(type="password", name="confirmnewpassword")
                    tr
                        th(scope='row') 
                        td
                            button.btn.btn-dark(type="submit") Save

        

    section.col-sm-2

block footer