extends ./base.pug

block title
    title Site administration | Users Create
    link(rel="stylesheet", href="/admin/css/user.create.css")

block content
    section.col-sm-10
        form(action="", method="post")

            table.table.table-borderless
                thead
                    tr
                        th(scope='col')
                            h2 Add user
                tbody
                    if errs
                        each err in errs
                            small.text-danger=err
                            br
                    tr
                        th(scope='row') 
                            label(for="username") Username:
                        td
                            input#username.w-75(type="text", name="username", value = values ? values.username : "")
                            br
                            small.text-muted Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                    tr
                        th(scope='row') 
                            label(for="password") Password:
                        td 
                            input#password.w-50(type="password", name="password")
                            br
                            small.text-muted Your password can’t be too similar to your other personal information.
                            br
                            small.text-muted Your password must contain at least 8 characters.
                            br
                            small.text-muted Your password can’t be a commonly used password.
                            br
                            small.text-muted Your password can’t be entirely numeric.
                    tr
                        th(scope='row') 
                            label(for="passwordconfirmation") Password confirmation:
                        td
                            input#passwordconfirmation.w-50(type="password", name="passwordconfirmation")
                    tr
                        th(scope='row') 
                        td
                            button.btn.btn-dark(type="submit") Add user

        

    section.col-sm-2

block footer