<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Log in | Express administration

        // Latest compiled and minified CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        // jQuery library
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        // Popper JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
        // Latest compiled JavaScript
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')

        link(rel="stylesheet", href="/admin/css/login.css")
    body
        .container
            .row
                .col-sm-12
                    header
                        h1.display-4 Login
                        br
                    article
                        form(action="/login", method="post")
                            .form-group
                                label(for='exampleInputEmail1') Username:
                                input#exampleInputEmail1.form-control.w-50(type='text', aria-describedby='usernameHelp', placeholder='Username', name='username')
                                small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
                            .form-group
                                label(for='exampleInputPassword1') Password:
                                input#exampleInputPassword1.form-control.w-50(type='password', placeholder='Password', name='password')
                            if errs 
                                for err in errs
                                    small#emailHelp.form-text.text-danger= err

                            button.btn.btn-primary(type='submit') Submit
